body{
    background-color: rgb(238, 238, 95);

}
main{
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
section{
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    align-items: center;
    gap: 1rem;
}
#cuadrado1{
    width: 8rem;
    height: 8rem;
    background-color: gray;
    margin-right: 1rem;
}
#cuadrado2{
    width: 8rem;
    height: 8rem;
    background-color: gray;
    margin-right: 1rem;
}
#cuadrado3{
    width: 12rem;
    height: 12rem;
    background-color: gray;
    margin-right: 1rem;

}
section{
    width: 15rem;
    height: 17rem;
    background-color: rgb(107, 107, 233); 
    margin: 5px;
}
button{
    width: 5rem;
    background-color: blueviolet;
    padding: 0.5rem;
    margin: 0.5rem;
}
input{
    width: 3rem;
}

  form{
    width: 15rem;
    height: 17rem;
    background-color: rgb(107, 107, 233);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  input{
    width: 6rem;
    margin: 5px;
    background-color: aqua;
  }